.base-sidebar {
    width: 30%;
    height: 100vh;
    background-color: #3a3a3a;
    border-right: solid 1px #dedede;
}


.windows-btn button {
    display: flex;
    width: 100%;
    border: none;
    background-color: #ffffff;
    height: 60px;
    transition: ease-in 0.1s;
}


.windows-btn {
    display: flex;
}

.windows-btn p {
    font-size: 18px;
}

.windows-btn button:hover {
    background-color: #8a8a8a;
    color: #fff ;
}
.windows-btn button:active {
    background-color: #3a3a3a;
    color: #fff;
}

.content {
    margin: 10px;
}
.content p {
    margin: 0;
    color: #fff;
    font-size: 24px;
}

